:root{
  --primary-color:#A82c48;
  --secondary-color:#43121d;
  --white-color:#fff;
  --text-color:#555;
  
}
.primary-color{
  color:var(--primary-color)
}
.text-color{
  color:var(--text-color)
}
*,
*:after,
*:before{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:active,
:hover,
:focus{
  outline-offset: 0;
  outline: 0;
}

a,
a:hover{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
a:hover{
  color: var(--primary-color);
}

ul,
ol{
  margin: 0;
  padding:0;
}
html{
  scroll-behavior: smooth;
}

body{
  font-size: 100%;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input:focus{
  border:1px solid var(--primary-color) !important;
  box-shadow: 0px 0px 1px var(--primary-color) inset,0px 0px 8px var(--primary-color) !important;
}
/* custome scrollbar*/
::-webkit-scrollbar{
  width:0.625rem;
}
::-webkit-scrollbar-track{
  background:var(--white-color);
}
::-webkit-scrollbar-thumb{
  background:var(--primary-color);
}
.row{
  margin-top: 10%;
}


h1{
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color:var(--secondary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 3rem;
  color:var(--secondary-color);
  line-height: 3rem;
  color: #43121d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color:var(--secondary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color:var(--primary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
  font-size:1rem;
  color:var(--text-color);
  font-weight: 390;
  line-height: 1.75rem;
  letter-spacing: 1px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

/* styles.css */

.image-container {
  max-width: 100%; 
  height: auto; 
  margin-top: 10%;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.main-btn{
  display: inline-block;
  padding:0.625rem 1.875rem;
  line-height: 1.50rem;
  background-color:rgb(21, 169, 228);
  /* border:0.1856rem solid var(--primary-color); */
  border: none;
  border-radius: 10px;
  color:var(--primary-color);
  font-size:0.9175rem;
  font-weight:bold;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0,0,0 / 19%);
  -webkit-transition: all .4s ease-out 0s;
}


.main-btn:hover{
  background-color: #d8e612;
  color:brown;
  border-radius: 10px;

  
}
.login a{
   color: red;
}


.card{
  display: flex;
  flex-direction: column; 
  /* justify-content: center;  */
  align-items: center;
  border: none;
}
.main-btn {
    font-size: var(--small-font-size);
    transform: translateY(1rem);
    opacity: 0;
  }
  .card:hover .main-btn {
    transform: translateY(0);
    opacity: 1;
  }
  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border: 1px solid #f5f3f3;
    padding: 12px 34px;
    font-size: 20px;
    background: rgb(21, 169, 228);
    position: relative;
    cursor: pointer;
  }
  
  .hero-btn:hover {
    border: 1px solid #d8e612;
    background: #d8e612;
    transition: 1s;
  }

  #profile-card{
    margin-top:10%;
    justify-content: center;
    border: none;
  }

  .modal-content{
    margin-left: 30%;
    width:40%;
    background-color:antiquewhite;
    margin-top:20px;
    text-align: center;
  }
  #cart-items{
    margin-bottom: 30px;
  }

    
  .footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
  }
  
  .footer h4 {
    margin-bottom: 25px;
    margin-top: 0px;
    font-weight: 600;
  }
  
  .icons {
    color: var(--primary-color);
    margin: 0 30px;
    cursor: pointer;
    font-size: 50px;
    padding: 18px 0;
  }
  
  .fa-heart-o {
    color: #f44336;
  }

  .alert{
    display: none;
  }
  .footer__social {
    display: flex;
    column-gap: 1rem;
    cursor: pointer;
    font-size: 50px;
    /* padding: 18px 0; */
    color: #f44336;
    /* justify-content: center; */
    margin-left: 40%;
  }
  
  .footer__social-link {
    font-size: 2.8rem;
    color: var(--text-color);
  }
  
  .footer__social-link:hover {
    color: var(--title-color);
  }